
:root {
  --primary-color: #FFF;
  --primary-background-color: #FDFDFD;
  --secondary-background-color: #F3F4F6;
  --button-color: #2A4E62;
  --primary-link-color: #2E458A;
  --secondary-link-color: #2C2211;
  --primary__nav-color: #0A3D3A;
  --secondary__nav-color: #060E0E;
  --grid_and_form-color: #E3E8F5;
  --font-weight-header: 700;
  --font-weight-div: 500;
  --primary-transition: 0.25s ease-in-out;
}

/*==================================================================
                  General Body styling
===================================================================*/

body {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-weight-div);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: linear-gradient(to top, var(--primary-background-color), var(--secondary-background-color));
}

* {
  box-sizing: border-box;
}

/*==================================================================
                              Headers
===================================================================*/

h1 {
  font-size: 25px;
  font-weight: var(--font-weight-header);
}

h2 {
  font-size: 20px;
  font-weight: var(--font-weight-header);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-header);
}

/*==================================================================
                              Links
===================================================================*/


a {
  color: var(--primary-link-color);
  text-decoration: none;
  font-weight: var(--font-weight-div);
  transition: var(--primary-transition);
}

a:hover, a:focus {
  color: var(--secondary-link-color);
}

/*==================================================================
                              Buttons
===================================================================*/

button, .button{
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: var(--font-weight-header);
  background-color: var(--button-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  /* ---transition--- */
  transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.7;
  color: var(--primary-color);
  text-decoration: none;
}

/*==================================================================
                              The Header
===================================================================*/

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1.5px solid #ccc;
  margin-bottom: 7%;
}

.page-header__item {
  flex: 0 1 100px;
}

.page-header_item:first-child{
  font-family: 'Jost', sans-serif;
  font-size: 35px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list__item, .navigation-list__item--active{
  font-weight: 700;
  color: var(--primary__nav-color);
  /* ---transition--- */
  transition: var(--primary-transition);
}

.navigation-list__item--active {
  color: var(--primary__nav-color);
  border-bottom: 3px solid var(--primary__nav-color);
}

.navigation-list__item:hover, .navigation-list__item--active:hover {
  color: var(--secondary__nav-color);
  text-decoration: none;
  border-bottom: 2px solid var(--primary__nav-color);
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/*==================================================================
                              Profile Body
===================================================================*/

.profile {
  max-width: 700px;
  margin: 8% auto;
  width: 75%;
}

.profile__portrait{
  float: left;
  width: 200px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile_text, #About_par {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/*==================================================================
                  Animation and SVG image
===================================================================*/

#cloud_1 {
	position:relative;
	top: calc(50vh - 100px);
	left: calc(50vw - 200px);
	animation: fly 15s infinite alternate;
}

@keyframes fly {
	0% {
    transform: translate(-350px, -200px);
  }
	100% {
    transform: translate(-130px, -200px);
  }
}



/*==================================================================
                        Grid layout
===================================================================*/

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
 .grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 2% 3%;
   margin: 2% 10% 6%;
 }
 .grid__item {
   background-color:  var(--grid_and_form-color);
   border-radius: 10px;
   width: auto;
   min-height: auto;
   margin: 2% 0;
   padding: 2%;
 }
}

/*==================================================================
                          Form
===================================================================*/

form {
  max-width: 700px;
  border: 1px solid #888;
  border-radius: 5px;
  background-color:  var(--grid_and_form-color);
  padding: 20px 30px;
  margin: auto;
}

label{
  float: left;
}

input{
  width: 55%;
  height: 30px;
  border: 0.2px solid #888;
  border-radius: 3px;
}

textarea{
  width: 85%;
  height: 100px;
  margin: 2% 4%;
}

.input-box{
  margin-right: 20%;
}

#send_button{
  float: none;
  height: 35px;
  width: 70px;
}

.aster{
  color: #F00;
  font-size: 26px;
}

/*==================================================================
                        Footer
===================================================================*/

footer{
  margin-top: 60px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
}

.social_media-logo{
  width: 30px;
}

/*==================================================================
                       @media queries
===================================================================*/


@media all and (min-width: 500px) and (max-width: 800px){
  .profile {
    margin: 12% auto;
  }
  .profile__portrait{
    width: 160px;
  }
  form {
    padding: 20px 30px;
    margin: 5% 10%;
  }
  .input-box{
    margin-right: 10%;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2% 3%;
  }
  .page-header_item:first-child{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
  }
}

@media all and (max-width: 500px) {
  .profile__portrait{
    float: none;
    width: 130px;
    margin: auto;
  }
  form {
    padding: 20px 20px 20px 30px;
    margin: 5%;
  }
  .input-box{
    margin-right: 8%;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 0.5%;
  }
  .page-header_item:first-child{
    font-family: 'Jost', sans-serif;
    font-size: 25px;
  }
}

@media all and (max-width: 750px) {
  .grid {
    margin: 5%;
    padding-bottom: 50px;
  }

  h1 {
    font-size: 22px;
  }
}
